- name: Ejecutar Escaneo ZAP
        env:
          MY_TOKEN: ${{ secrets.QA_API_TOKEN }}
        run: |
          # 1. Copiamos el archivo al directorio que Docker puede ver
          # Usamos sed para inyectar el token en el archivo antes de que ZAP lo use
          sed -i "s/\${MY_TOKEN}/$MY_TOKEN/g" options.prop
          cp options.prop ./zap/wrk/options.prop
          
          INPUT_FILE="apis.txt"
          TIMESTAMP=$(date +'%Y-%m-%d_%H-%M-%S')

          while IFS= read -r SWAGGER_URL || [ -n "$SWAGGER_URL" ]; do
            # Limpiar espacios en blanco de la URL
            SWAGGER_URL=$(echo "$SWAGGER_URL" | xargs)
            if [ -z "$SWAGGER_URL" ]; then continue; fi

            echo "===================================================="
            echo "ESCANEANDO: $SWAGGER_URL"
            echo "===================================================="
            
            LOG_NAME="zap-trafico-${TIMESTAMP}.log"

            # 2. Ejecutamos pasando el archivo de propiedades
            # Usamos 'tee' para que se vea en la consola de GitHub Y se guarde en archivo
            docker run --rm \
              -v $(pwd)/zap/wrk:/zap/wrk:rw \
              zaproxy/zap-stable zap-api-scan.py \
              -t "$SWAGGER_URL" \
              -f openapi \
              -r "reporte-${TIMESTAMP}.html" \
              -z "-configfile /zap/wrk/options.prop" \
              2>&1 | tee "./zap/wrk/$LOG_NAME"

          done < "$INPUT_FILE"
