name: Lab Petstore API Scan v1

on:
  push:
    branches:
      - main  # Se dispara al hacer commit o merge a main
  workflow_dispatch: # Mantiene la opción de ejecutarlo manualmente

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Escaneo de Petstore
    
    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      - name: Crear directorios ZAP
        run: |
          mkdir -p $(pwd)/zap/wrk
          chmod 777 $(pwd)/zap/wrk

      - name: Preparar archivo de opciones (Auth)
        env:
          MY_TOKEN: ${{ secrets.QA_API_TOKEN }}
        run: |
          # Sustituimos la variable en el archivo físico
          # Esto hace que el token pase de la memoria al archivo que leerá ZAP
          sed -i "s/\${MY_TOKEN}/$MY_TOKEN/g" options.prop
          cp options.prop ./zap/wrk/options.prop
          echo "Configuración de headers preparada."

      - name: Ejecutar Escaneo ZAP
        run: |
          INPUT_FILE="apis.txt"
          TIMESTAMP=$(date +'%Y-%m-%d_%H-%M-%S')

          while IFS= read -r SWAGGER_URL || [ -n "$SWAGGER_URL" ]; do
            SWAGGER_URL=$(echo "$SWAGGER_URL" | xargs)
            if [ -z "$SWAGGER_URL" ]; then continue; fi

            echo "--> Analizando API: $SWAGGER_URL"
            REPORT_NAME="reporte-petstore-${TIMESTAMP}.html"
            LOG_NAME="zap-detalles-${TIMESTAMP}.log"

            # Ejecutamos ZAP cargando el archivo de opciones con -z
            # Redirigimos la salida a un log para poder validarlo después
            docker run --rm \
              -v $(pwd)/zap/wrk:/zap/wrk:rw \
              zaproxy/zap-stable zap-api-scan.py \
              -t "$SWAGGER_URL" \
              -f openapi \
              -r "$REPORT_NAME" \
              -z "-configfile /zap/wrk/options.prop" \
              -d \
              > "./zap/wrk/$LOG_NAME" 2>&1 || echo "Escaneo finalizado con alertas."

          done < "$INPUT_FILE"

      - name: Subir Reporte y Evidencia de Logs
        if: always() # Se ejecuta aunque el escaneo falle, para ver por qué falló
        uses: actions/upload-artifact@v4
        with:
          name: Resultados-ZAP-${{ github.sha }}
          path: |
            ./zap/wrk/*.html
            ./zap/wrk/*.log
