- name: Ejecutar Escaneo ZAP
        run: |
          # 1. Copiamos el archivo al directorio que Docker puede ver
          cp options.prop ./zap/wrk/options.prop
          
          INPUT_FILE="apis.txt"
          TIMESTAMP=$(date +'%Y-%m-%d_%H-%M-%S')

          while IFS= read -r SWAGGER_URL || [ -n "$SWAGGER_URL" ]; do
            LOG_NAME="zap-trafico-${TIMESTAMP}.log"

            # 2. Ejecutamos pasando el archivo de propiedades
            docker run --rm \
              -v $(pwd)/zap/wrk:/zap/wrk:rw \
              zaproxy/zap-stable zap-api-scan.py \
              -t "$SWAGGER_URL" \
              -f openapi \
              -r "reporte.html" \
              -z "-configfile /zap/wrk/options.prop" \
              2>&1 | tee "./zap/wrk/$LOG_NAME"

          done < "$INPUT_FILE"
